html, body {margin: 0; padding: 0;}

.header {background-color: #303F9F; color: #fff; display: flex; align-items: center;}
.header__button {}
.header__side {display: flex; align-items: center;}
.header__side_align_right { margin-left: auto; }


.main { display: flex; height: 100%;}
.main__side_left {width: 20%; background-color: red;}
.main__side_right {width: 50%; background-color: blue;}